page-offline{
    div.item-inner{
        padding-right: 0 !important;
    }
    .right{
        float: right;
        margin-right: 25px;
    }
    .sy_txt{
        color: #fff;
        font-size: 18px;
        line-height: 30px;
    }
    .sy_num{
        color: #fff;
        font-size: 30px;
        font-weight: 900;
    }
    .sy{
        background: #fe5000;
        height: 160px;
        text-align: center;
    }
}
