@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dvhrgd');
  src:  url('fonts/icomoon.eot?dvhrgd#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?dvhrgd') format('truetype'),
  url('fonts/icomoon.woff?dvhrgd') format('woff'),
  url('fonts/icomoon.svg?dvhrgd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-display:before {
  content: "\e91f";
}
.icon-iconfont-wenyang:before {
  content: "\e900";
}
.icon-iconfont-share:before {
  content: "\e901";
}
.icon-x16_icon_arrow_right:before {
  content: "\e611";
}
.icon-x16_icon_eye_highlight:before {
  content: "\e614";
}
.icon-x16_icon_eye_normal:before {
  content: "\e615";
}
.icon-x20_icon_arrow_left:before {
  content: "\e61a";
}
.icon-pen:before {
  content: "\e60f";
}
.icon-email-open:before {
  content: "\e929";
}
.icon-email-close:before {
  content: "\e90b";
}
.icon-iconfont-lishi:before {
  content: "\e922";
}
.icon-iconfont-shouyi:before {
  content: "\e91e";
}
.icon-iconfont-suicunsuiqu:before {
  content: "\e919";
}
.icon-iconfont-tips:before {
  content: "\e913";
}
.icon-qrcode:before {
  content: "\e90d";
}
.icon-x:before {
  content: "\e910";
}
.icon-iconfont-more:before {
  content: "\e928";
}
.icon-iconfont-sjt:before {
  content: "\e914";
}
.icon-iconfont-x:before {
  content: "\e927";
}
.icon-msg:before {
  content: "\e926";
}
.icon-choose:before {
  content: "\e92a";
}
.icon-dian:before {
  content: "\e92b";
}
.icon-fenxiao:before {
  content: "\e92c";
}
.icon-me:before {
  content: "\e92d";
}
.icon-order:before {
  content: "\e92e";
}
.icon-product:before {
  content: "\e92f";
}
.icon-qianbao:before {
  content: "\e930";
}
.icon-qiehuan:before {
  content: "\e936";
}
.icon-quan:before {
  content: "\e931";
}
.icon-search:before {
  content: "\e932";
}
.icon-share:before {
  content: "\e933";
}
.icon-success:before {
  content: "\e934";
}
.icon-yinxiao:before {
  content: "\e935";
}
.icon-shop:before {
  content: "\e937";
}
.icon-pengyouquan:before {
  content: "\e917";
}
.icon-sanjiao:before {
  content: "\e90a";
}
.icon-kefu:before {
  content: "\e909";
}
.icon-market:before {
  content: "\e912";
}
.icon-sharetofriend:before {
  content: "\e908";
}
.icon-jiahao:before {
  content: "\e924";
}
.icon-fexiang:before {
  content: "\e91d";
}
.icon-fgou:before {
  content: "\e921";
}
.icon-zhuangfa:before {
  content: "\e925";
}
.icon-st:before {
  content: "\e938";
}
.icon-bsatr:before {
  content: "\e939";
}
.icon-more:before {
  content: "\e907";
}
.icon-shopping:before {
  content: "\e93a";
}
.icon-jian:before {
  content: "\e90e";
}
.icon-wuliu:before {
  content: "\e91b";
}
.icon-chose:before {
  content: "\e916";
}
.icon-chosed:before {
  content: "\e906";
}
.icon-webchat:before {
  content: "\e905";
}
.icon-sqq:before {
  content: "\e904";
}
.icon-sqqzoon:before {
  content: "\e915";
}
.icon-sweb:before {
  content: "\e91c";
}
.icon-type:before {
  content: "\e903";
}
.icon-bilv:before {
  content: "\e902";
}
.icon-duibi:before {
  content: "\e911";
}
.icon-ren:before {
  content: "\e91a";
}
.icon-shangpu:before {
  content: "\e920";
}
.icon-star:before {
  content: "\e923";
}
.icon-jiaohao:before {
  content: "\e90c";
}
.icon-jian2:before {
  content: "\e90f";
}
.icon-gg:before {
  content: "\e918";
}

