page-producttype {
  *{
    margin: 0;
    padding: 0;
  }
  li{margin:0; padding:0; list-sytle:none}
  .left_div{
    background: #fff;
    height:100%;
    width: 25%;
    float: left;
    border-right: 1px #eee solid;
    //margin-top: 30px;
    overflow: auto;
  }
  .right_div{
    background: #fff;
    height:100%;
    width: 75%;
    float: right;
    //margin-top: 30px;
    overflow: auto;
  }
  right_div:after{
    content: '';
    height: 0;
    clear: both;
  }
  .leftli3 {
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
  }
  .leftli {
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
  }
  .leftli2 {
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: #fe5000;
    background: #f0f0f0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-left: 2px #fe5000 solid;
  }
  .erckqb {
    position: relative;
    height: 45px;
    line-height: 45px;
  }

  .erckqbn1 {
    margin-left: 15px;
    color: #9a9a9a;
  }
  .erckqbn2 {
    position: absolute;
    right: 5px;
    font-size: 22px;
    top: 10px;
  }
  .rightli {
    float: left;
    width: 33%;
    text-align: center;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .icon-x16_icon_arrow_right {
    color: #9a9a9a;
  }
}
